body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBrand{
  text-align: center;
  font-family: 'OCR A Std', monospace;
}

.nav-tabs {
  padding: 20px 0 0 0;
}

.tab-content{
  padding-top: 20px;
}

.right-align{
  float: right;
}

.container{
  align-content: center;
  padding-top: 20px;
}

.navbar.bg-dark {
  background-color: rgba(52,58,64,0.8) !important;
}

.card{
  text-align: center;
  width: 525px;
  height: 700px;
}

.card-table{
  align-content: center;
  min-width: 50px;
}


.user-builds{
  border-radius: 5px;
  background-color: rgba(52,58,64,0.8) !important;
  font-family: 'OCR A Std', monospace;
}

.auth-container{
  background-color: rgba(52,58,64,0.8) !important;
  font-family: 'OCR A Std', monospace;
  padding-bottom: 5px;
  border-radius: 5px;
}

.footer{
  background-color: rgba(52,58,64,0.8) !important;
  font-family: 'OCR A Std', monospace;
  color: lightgreen;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}


