body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBrand{
  font-family: 'OCR A Std', monospace;
}

.nav-tabs {
  padding: 20px 0 0 0;
}

.tab-content{
  padding-top: 20px;
}

.right-align{
  float: right;
}

.container{
  padding-top: 20px;
}

.navbar.bg-dark {
  background-color: rgba(52,58,64,0.8) !important;
}

.card{
  text-align: center;
  width: 500px;
  height: 700px;
}

.card-table{
  min-width: 50px;
}